<div class="login-container">
    <div class="login-image">
        <img src="images/security-login.jpg" alt="Secure Register" />
    </div>

    <div class="login-form-wrapper">
        <form [formGroup]="registerForm" (ngSubmit)="submitForm()" nz-form class="login-form">
            <h2>New Account</h2>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your first name!">
                    <nz-form-label [nzSpan]="6" nzFor="firstname" nzRequired>First name</nz-form-label>
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="firstname" placeholder="first name" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your last name!">
                    <nz-form-label [nzSpan]="6" nzFor="lastname" nzRequired>Last name</nz-form-label>

                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="lastname" placeholder="last name" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">

                    <nz-form-label [nzSpan]="6" nzFor="lastname" nzRequired>Email</nz-form-label>
                    <nz-input-group nzPrefixIcon="mail">
                        <input type="text" nz-input formControlName="email" placeholder="email" />
                    </nz-input-group>
                    <ng-template #emailErrorTpl let-control>
                        @if (control.errors?.['email']) {
                        The input is not valid E-mail!
                        }
                        @if (control.errors?.['required']) {
                        Please input your E-mail!
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <!-- <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="firstname" nzRequired>First name</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="Please input your first name!">
                    <input nz-input formControlName="firstname" id="firstname" placeholder="first name" />
                </nz-form-control>
            </nz-form-item> -->


            <!-- <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="lastname" nzRequired>Last name</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="Please input your last name!">
                    <input nz-input formControlName="lastname" id="lastname" placeholder="last name" />
                </nz-form-control>
            </nz-form-item> -->
            <!-- <nz-form-control nzErrorTip="Please input your email!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="email" placeholder="email" />
                </nz-input-group>
            </nz-form-control> -->

            <!-- <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="password" nzRequired>Password</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="Please input your password!">
                    <input nz-input type="password" formControlName="password" id="password" placeholder="password" />
                </nz-form-control>
            </nz-form-item> -->

            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="Please input your Password!" [nzErrorTip]="passwordError">
                    <nz-form-label [nzSpan]="6" nzFor="password" nzRequired>Password</nz-form-label>

                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="Password" />
                    </nz-input-group>
                </nz-form-control>
                <ng-template #passwordError let-control>
                    @if (control.errors?.['required']) {
                    Password is required.
                    }
                    @if (control.errors?.['minLength']) {
                    {{ control.errors['minLength'] }}
                    }
                    @if (control.errors?.['uppercase']) {
                    {{ control.errors['uppercase'] }}
                    }
                    @if (control.errors?.['lowercase']) {
                    {{ control.errors['lowercase'] }}
                    }
                    @if (control.errors?.['digit']) {
                    {{ control.errors['digit'] }}
                    }
                    @if (control.errors?.['symbol']) {
                    {{ control.errors['symbol'] }}
                    }
                </ng-template>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                    <nz-form-label [nzSpan]="8" nzFor="confirm" nzRequired>Confirm Password</nz-form-label>

                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="confirm" placeholder="Confirm password"
                            id="confirm" />
                    </nz-input-group>
                </nz-form-control>
                <ng-template #passwordErrorTpl let-control>
                    @if (control.errors?.['required']) {
                    Please confirm your password!
                    }
                    @if (control.errors?.['confirm']) {
                    Password is inconsistent!
                    }
                </ng-template>
            </nz-form-item>
            <!-- <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="confirmpassword" nzRequired>Confirm Password</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="Please input your password!">
                    <input nz-input type="password" formControlName="confirmpassword" id="confirmpassword"
                        placeholder="password" />
                </nz-form-control>
            </nz-form-item> -->

            <nz-form-item>
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary" [nzLoading]="loading">
                        Register
                    </button>

                    Or
                    <a [routerLink]="'/auth/login'">login now!</a>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>